h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto Condensed', sans-serif;
}
/* Hero sytle */
.hero {
    background-image: url('../images/FlagFlying.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(21,20,51,0.5);
    z-index: -1;
}

/* Goal Div style */
#goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    padding: 250px;
    background: linear-gradient(to bottom, #5c0209, #ffffff);
  }
  
  #goal img {
    display: block;
    margin-bottom: 10px; 
  }
  
  #caption {
    font-size: 20px; 
    margin-top: 0px; 
  }
  
  

/* Carousel style */
.carousel-custom {
    width: 1000px; 
    height: 650px; 
    margin: auto; 
    overflow: hidden; 
    position: relative;
}

.carousel-custom .carousel-item {
    position: relative; 
    width: 100%;
    height: 100%; 
}

.carousel-custom .carousel-item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.carousel-custom .carousel-caption {
    position: absolute; 
    bottom: 20px; 
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
}


#overview h1 {
    font-weight: bold;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}

#overview {
    padding-top: 200px; 
    padding-bottom: 100px;
}

/* Flex container style */
.overview-flex {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 50px;
}

/* Style for the image within the flex container */
.overview-img {
    width: 500px; 
    height: auto; 
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease; 
    cursor: pointer;
    position: relative; 
    z-index: 2; 
}


/* Style for the paragraph within the flex container */
.overview-text {
    width: 70%; 
    font-size: 30px;
    color: #555;
}


/* Style for the backdrop */
.backdrop {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1); 
    z-index: 1; 
    transition: opacity 0.5s ease;
}

.overview-img.enlarged {
    z-index: 101;
}


/* Style for accordion headers */
.accordion-header button {
    font-size: 24px; 
    font-weight: normal; 
    background-color: #f8f9fa; 
    border: none; 
    width: 100%; 
}

/* Style for expanded accordion header to maintain visibility */
.accordion-button:not(.collapsed) {
    color: #ffffff; 
    background-color: #8c0410; 
}

/* Style for accordion content */
.accordion-body {
    font-size: 22px; 
    color: #333; 
    padding: 20px; 
    border-top: 1px solid #dee2e6; 
}

.accordion-item {
    border-bottom: 1px solid #dee2e6; 
    margin-bottom: 10px; 
}
